<!doctype html>
<html class="no-js" lang="zxx">
<div class="aboutus_body">
    <!-- accordion  -->
    <div class="accordion_area">
            <div class="container">
                <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6">
                                <div class="faq_ask">
                                    <h3>Frequently ask</h3>
                                        <div id="accordion">
                                            <div class="bs-example">
                                                <div class="card" [attr.id]="'accordion_' + i" *ngFor="let faqdetails of faqdetail; let i = index;">
                                                    <div class="panel panel-default" >
                                                        <div class="card-header">
                                                            <h5 class="panel-title mb-0">
                                                                <button class="btn btn-link collapsed" data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i" aria-expanded="false">
                                                                    {{faqdetails.question}}
                                                            </button>
                                                            </h5>
                                                        </div>
                                                        <!-- [attr.id]="'collapseOne_' + i" -->
                                                        <div [id]="'collapseOne_' + i" class="panel-collapse collapse">
                                                            <div class="card-body">
                                                                {{faqdetails.description}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>                         
                                            </div>
                                </div>
                            </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="accordion_thumb">
                            <img src="../../../assets/realestate/img/banner/accordion.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- accordion  -->
    <!-- /contact_action_area  -->
</div>
</html>

