input.form-control.ng-dirty.is-invalid.ng-invalid.ng-touched {
    background: none !important ;
}
.form-control.is-invalid{
    background: none !important ;
}
.errmsgtext{
font-size: 15px !important;
    padding-top: 5px !important;
}
