/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.faq_text {
    font-weight: 500 !important;
    display: inline-block;
    border-bottom: 2px solid #0b2379;
    padding-left: 11px;
    padding-right: 11px;
    font-size: 21px  !important;;
    color: #0b2379 !important;
}
.faqinner_que{
    font-size: 14px !important;
}
.editfaqicon{
    vertical-align: bottom;
    color: green;
    padding-left: 19px;
}
.editfaqicon:hover{
cursor: pointer;
}

.faqupdatebtn {
    background-color: #0b2379 !important;
    outline: none;
    border: none;
}
.faqerrortext{
    font-size: 14px !important;
}

/* ----------------- CMS section*/

.form_wrapper {
    box-shadow: 0 5px 15px 0 rgba(183,185,194,.54);
    background: #ffffff;
    border-radius: 5px;
}
.cms_submitbtn{
    background-color: #0b2379 !important;
    outline: none;
    border: none;
}
label.cms_quetext {
    color: #0B2279;
    /* font-size: 14px; */
    font-weight: 500 !important;
}
.cms_errormsg {
    font-size: 12px;
}

/* Create Form */
.create_form{
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    background: #ffffff;
    border-radius: 6px;
    padding: 35px;
}


/* email teplate and adminmange componenet */

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    /* width: 25%; */
  }
  
  td, th {
    /* width: 25%; */
  }
  .table_body{
overflow-x: auto;
  }
  .mat-paginator {
    display: flex;
    justify-content: start;
  } 
.bg-search-color{
    background: #ffffff;
    padding-top: 10PX !important;
    padding: 0 18px;
}
span.material-icons.edit-icon {
  color: green;
  padding-left: 0px;
}
span.material-icons.edit-icon:hover {
  cursor: pointer !important;
}
.mailtemp_text{
  font-weight: 500 !important;
  font-size: 21px !important;
  color: #0b2379 !important;
  padding-left: 3px;
}


/* navbar section */

.navbar_matex_header{
  /* background-color: #100c4e !important; */
}

.profile_updatelink {
  color: #3a358a !important;

}
.profile_updatelink:hover {
  cursor: pointer;
}
 .mat-expansion-indicator::after, .mat-expansion-panel-header-description { color: #100c4e;}
 .mat-expansion-panel-header {
  height: 33px;
}

.main-header{
  z-index: 11 !important;
}
.sidebar-color{
  background:#100c4e;;
}
.brand-text,i.nav-icon.fas.fa-edit,.login_user,.slide_menu,i.fas.fa-angle-left.right,.side_menucolor{
  color: #ffffff;
}
i.fa.fa-power-off {
  padding-right: 5px;
  /* color: #100c4e; */
  font-size: 13px;
  vertical-align: middle;
  color: #ffffff;
}
.logoutText{
  font-size: 15px !important;
  color: #100c4e;
  display: contents;
  
}

.logoutLink:hover{
 cursor: pointer;
}

.example-button-row button,
.example-button-row a {
margin-right: 8px;
}

.admin_createlink {
border: 1px solid  #3a358a;
border-radius: 15px;
font-size: 13px;
background-color: #3a358a;
color: #ffffff !important;
}
.main-header .nav-link {
height: 2.3rem !important;

}

.list_menu_gpitem {
  background: #100c4e !important;
  color: #fff !important;
}


/* Create admin form */
.createadmin_formerr {
  font-size: 13px;
}
.submit_createadmin{
  background-color: #0b2379 !important;
  outline: none;
  border: none;
}

.updateadmin_passmsg {
  color: #dc3545!important;
  font-size: 12px;
}

/* ************ Frontend section ************ */
/* home page  */
.frontend_curoser_body{
  padding-top: 70px !important;
  padding-bottom: 110px !important;
  background: #2b2b73 !important;
}
.frontend_curoser_inner1{
  color: #ffffff !important;
}
.home_service_img{
  height: 250px;
}
/* service page */
.service_body{
  padding-top: 50px !important;
  padding-bottom: 30px !important;
}

/* about us page */
.about_mission {
  padding-top: 80px !important;
}

/* Gallery Section */
.gallery_img{
  cursor: pointer;
  width:300px;
  height:220px;
  margin-bottom: 20px;
}
/* Video page  */
video#my-video,iframe {
  width: 100%;
  height: 100%;
  max-width: 500px;
  min-height: 315px;
}

/* news section tab */
.single_team {
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 95% !important;
}
.news_title{
  font-size: 16px !important;
  line-height: 20px !important;
    padding-bottom: 12px !important; 
    font-weight: 400 !important;
}
p.news_title{
  font-size: 16px !important;
  line-height: 20px !important;
    padding-bottom: 12px !important; 
}
.single_team:hover{
cursor: pointer;
}
.news_image_size{
  height: 230px;
}
.team_area{
padding-top: 45px !important;
}
/* media Query  */

@media(min-width:768px){
  .front_sr_wrap{
    top: 69px !important;
  }
  
}
@media(min-width:992px){
  
}
@media(min-width:1200px){
  .gallery_img{
    width: 360px !important;
    height: 230px !important;
  }
}
/* side nav bar */
.mat_side_nav{
  background: #100C4E !important;
  padding: 0 16px !important;
}
.mat_side_title{
  color: #fff !important;
}
.mat_submenu_color{
  color: black;
}
.mat_side_nav>.mat-expansion-indicator::after{
  color: #fff !important;
}

.mat-accordion .mat-expansion-panel:last-of-type{border-bottom-right-radius: 0px !important; border-bottom-left-radius: 0px !important;}
.mat-accordion .mat-expansion-panel:first-of-type{border-top-right-radius: 0px !important;  border-top-left-radius: 0px !important;}
.mat-expansion-panel-body {
  padding: 0 20px 2px !important;
}
a.nav-link.ng-tns-c154-2 {
  padding: 4px !important;;
}
.mat-expansion-panel:not([class*=mat-elevation-z]){box-shadow:none};
.side_menucolor{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.nav-sidebar .nav-link p {
  display: inline-block;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color:#ffff !important;
}
.menu_color{
  color:#ffff;
}
.mat-expansion-panel{
  background: none !important;
}
.status_video_admin{
  display: inline-block;
}

/* cmsfaq component */
.addfaq_btn_body {
  display: inline-block;
  margin-left: 25px;
}
.editfaqdeleteicon {
  vertical-align: bottom;
  color: red;
  padding-left: 10px;
}


/*++++++++++++++++++++++ image upload preview css ++++++++++++++++*/

.jumbotron {
  padding: 20px 2rem 27px;
  background: #312BC6;
  margin: 0 auto 25px;
  border-radius: 0;
}

/* .h1,
h1 {
  font-size: 25px;
  color: #4EABE6;
  font-weight: 300;
  margin: 0;
} */

/* h5 {
  font-weight: 600;
} */

.custom-wrapper {
  max-width: 460px;
  margin: 0 auto 50px;
}

/* .h2,
h2 {
  font-size: 1.45rem;
} */

/* label {
  font-size: 15px;
  font-weight: 600;
  color: #222;
  margin-bottom: 6px;
} */

.group-gap {
  margin-bottom: 40px;
}

/* .btn.focus,
.btn:focus,
.form-control:focus,
.custom-select:focus,
.custom-select:focus {
  box-shadow: none;
} */

.form-control:focus,
.custom-select:focus {
  border: 1px solid #0C1CFF;
}

/* .btn-success,
.btn-success:hover {
  color: #312BC6;
  border-color: #00FC79;
  background-color: #00FC79;
} */

.uploadimg_btn{
  /* padding: 13px 15px 15px;
  font-size: 16px;
  border-radius: 0;
  text-transform: uppercase;
  background: #3a358a !important; */
  padding: 10px 10px 10px;
    font-size: 14px;
    border-radius: 5px;
    text-transform: uppercase;
    background: #3a358a !important;
    border: none;
}

.btn-group-sm>.btn,
.btn-sm {
  padding: 10px 16px 10px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 0;
}

.avatar-upload {
  position: relative;
  /* max-width: 205px; */
  margin: 10px auto 30px;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 19px;
  z-index: 1;
  top: 13px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit .custom-label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #3efc78;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit .upload-image {
  background: #3efc78;
}

.avatar-upload .avatar-edit .remove-image {
  background: #3a358a;
}

.avatar-upload .avatar-edit .custom-label:hover {
  opacity: 1;
}

.avatar-upload .avatar-edit .custom-label:after {
  position: absolute;
  text-align: center;
  margin: auto;
  top: 8px;
  right: 0;
  left: 2px;
  width: 18px;
}

.avatar-upload .avatar-edit .upload-image:after {
  content: url('/assets/edit.svg');
}

.avatar-upload .avatar-edit .remove-image:after {
  content: url('/assets/close.svg');
  left: 0px !important;
}

.avatar-upload .avatar-preview {
  /* width: 200px; */
  height: 200px;
  position: relative;
  /* border-radius: 100%; */
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  /* border-radius: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .form-control {
  height: auto;
  padding: 15px;
  font-size: 14px;
  color: #222222;
  border-radius: 0;
  background: #FDFDFD;
  border: 1px solid #312BC6;
} */

.custom-select {
  height: auto;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 400;
  color: #222222;
  background-color: #FDFDFD;
  border: 1px solid #312BC6;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: #3a358a;
  background-color: #3a358a;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}

.custom-control-label {
  cursor: pointer;
}

.error:focus,
.error {
  border-color: #3a358a;
  color: #3a358a;
}

.invalid-feedback {
  color: #3a358a;
}

/* .btn-danger,
body .btn-danger:hover {
  background: #3a358a;
  border-color: #3a358a;
  color: white;
} */
.uploadimg_btn,
.uploadimg_btn:hover {
  background: #3a358a;
  border-color: #3a358a;
  color: white;
}
.subjectList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subjectList li {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.invalid-feedback {
  display: block;
}

.mb-3,
.my-3 {
  margin-bottom: 15px !important;
}

.custom-control {
  margin-bottom: 5px;
}

.custom-control label {
  font-weight: 400;
}
/* service component */

.single_property_service{

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  background: #fff;
  padding: 11px;
  height: 100%;
}
.single_service_inner{
  flex: 1 0 auto;
}
.service_images{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.service_inner_detail{
  display: inline-block;
}

.accordion_area{
  padding-top: 0px !important;
}
.popular_property {
  padding-top: 60px !important;
  /* padding-bottom: 0px; */
}
/* footer */
.footer .footer_top {
  padding-top: 90px !important;
  padding-bottom: 50px !important;
}

/* admin gallery section */
img.img-fluid.admin_gallary_image {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  width: 300px;
  height: 300px;
}
.comment_text{
  font-size: 15px !important;
}
/* .popular_property .single_property .property_content .main_pro h3 {
  line-height: 24px !important;
} */
.single_property{
  height: 95% !important;
}
.property_content{
  border-bottom : none !important;
}
/* .mat-typography h3{
  font: 500 24px/28px Roboto, "Helvetica Neue", sans-serif !important;
} */
.section_title h3{
  padding-bottom: 0px !important;
}
.section-padding{
  padding-top: 30px !important;
}