<div class="team_area">
    <div class="container">
            <div class="row">
                    <div class="col-xl-12">
                        <div class="section_title mb-40 text-center">
                            <h3 class="home_subheading">
                                    Hot News
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6" *ngFor="let news of getnews | slice:0:4">
                        <div class="single_team">
                            <a   [routerLink]="['/readnews']" [queryParams]="{ newsid: news.id}">
                            <div class="team_thumb">
                                <img src="{{image_baseurl}}{{news.image}}" class="img-fluid news_image_size" alt="">
                            </div>
                            <div class="team_info text-center">
                                <p class="news_title">{{news.title}}</p>
                            </div>
                        </a>
                        </div>
                    </div>
                </div>
    </div>
</div>
